<%- include('partials/header'); -%>
<nav class="navbar navbar-light navbar-expand-md nav-lap">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="background: url(&quot;assets/img/mask.jpg&quot;) center / 68% no-repeat;width: 120px;margin: 0;padding: 0;height: 120px;border-radius: 0;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active head-link" href="/" style="color: #007580;">Home</a></li>

                <li class="nav-item"><a class="nav-link active head-link" href="/ourSupport" style="color: #007580;">Media</a></li>
                    <li class="nav-item"><a class="nav-link active head-link" href="/about" style="color: #007580;">About</a></li>
                <li class="nav-item"><a class="nav-link active" href="/contact" style="color: #007580;">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="about-section" class="highlight-clean " style="background: url(&quot;assets/img/Coronavirus.jpg&quot;) center / cover no-repeat;">
    <div class="container about">
        <div class="intro about-header ">
            <h2 class="text-left about-covp" data-aos="fade-right" data-aos-delay="500" style="color: red;">ABOUT US</h2>
            <ul>
              <li data-aos="fade-right" data-aos-delay="520">

            <p class=" para about-text" data-aos="fade-right" data-aos-delay="520" style="color: yellow;">CoviFund is  supporting various marginalized and vulnerable families fighting the pandemic with relief .&nbsp;</p></li>
<li data-aos="fade-right" data-aos-delay="525"><p class=" para about-text" data-aos="fade-right" data-aos-delay="525" style="color: yellow;">Helps in providing dry ration and cooked food to poor people .&nbsp;</p></li>
<li data-aos="fade-right" data-aos-delay="530"><p class=" para about-text" data-aos="fade-right" data-aos-delay="530" style="color: yellow;">Support COVID-hit families with Action Aid's relief fund .&nbsp;</p></li>
<li data-aos="fade-right" data-aos-delay="535"><p class=" para about-text" data-aos="fade-right" data-aos-delay="535" style="color: yellow;"> Monetary help will also be provided to deserted elderly and other such families who have lost the only earning member of their family due to covid.&nbsp;</p></li>

</ul>
        </div>
    </div>
</section>
<%- include('partials/footer'); -%>
