<%- include('partials/header'); -%>
<nav class="navbar navbar-light navbar-expand-md nav-lap">
    <div class="container-fluid"><a class="navbar-brand" href="" style="background: url(&quot;assets/img/mask.jpg&quot;) center / 68% no-repeat;width: 120px;margin: 0;padding: 0;height: 120px;border-radius: 0;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active head-link" href="/" style="color: #007580;">Home</a></li>

                <li class="nav-item"><a class="nav-link active head-link" href="/ourSupport" style="color: #007580;">Media</a></li>
                  <li class="nav-item"><a class="nav-link active head-link" href="/about" style="color: #007580;">About</a></li>


                <li class="nav-item"><a class="nav-link active" href="/contact" style="color: #007580;">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="hero">
    <h1 class="text-end" data-aos="fade-up" data-aos-delay="700" id="header-title">CoviFund</h1>
    <h3 class="text-end" data-aos="fade-left" data-aos-delay="710" id="subhead1">Donate to help people worst-hit by COVID-19.</h3>

<form autocomplete="off" data-aos="fade-up" data-aos-delay="710" id="donate-btn"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HVypc3joAdyPha" async> </script> </form>


      <p class="text-end" data-aos="fade-right" data-aos-delay="710" id="subhead4">Helping one person might not change the whole world , but it would change the world for one person.</p>



</section>


  </section>


  

  <section id="testimonials">



    <img class="zogo col-sm-6 col-md-4" src="assets/img/img1.jpg" alt="tc-logo">
    <img class="zogo col-sm-6 col-md-4" src="assets/img/aaooo.jpg" alt="tnw-logo">
    <img class="zogo col-sm-6 col-md-4" src="assets/img/food.jpg" alt="biz-insider-logo">




  </section>


  <!-- Press -->

  <section id="press">
    <img class="logo1" src="assets/img/et-logo.png" alt="tc-logo">
    <img class="logo2" src="assets/img/download.png" alt="tnw-logo">
    <img class="logo3" src="assets/img/toi.png" alt="biz-insider-logo">
    <img class="logo4" src="assets/img/hindu.png" alt="mashable-logo">

  </section>
<%- include('partials/footer'); -%>
