<%- include('partials/header'); -%>
<nav class="navbar navbar-light navbar-expand-md nav-lap">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="background: url(&quot;assets/img/mask.jpg&quot;) center / 68% no-repeat;width: 120px;margin: 0;padding: 0;height: 120px;border-radius: 0;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active head-link" href="/" style="color: #007580;">Home</a></li>

                <li class="nav-item"><a class="nav-link active head-link" href="/ourSupport" style="color: #007580;">Media</a></li>
                <li class="nav-item"><a class="nav-link active head-link" href="/about" style="color: #007580;">About</a></li>
                <li class="nav-item"><a class="nav-link active" href="/contact" style="color: #007580;">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="support" class="features-blue help-pointers">
    <div class="container">

        <div class="row features">
            <div class="col-sm-6 col-md-4 item" data-aos="fade-left" data-aos-delay="650">
                <img class="bandas" src="assets/img/oxy.jpg" >
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-down" data-aos-delay="700">
                  <img  class="bandas" src="assets/img/poor.jpg" >
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-right" data-aos-delay="750">
                  <img class="bandas" src="assets/img/medi.jpg" >
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-left" data-aos-delay="800">
                  <img  class="bandas" src="assets/img/covid.jpg" >
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-up" data-aos-delay="800">
                  <img  class="bandas" src="assets/img/vaccina.jpg" >
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-right" data-aos-delay="800">
                  <img  class="bandas" src="assets/img/trans.png" >
            </div>

        </div>
    </div>
</section>
<%- include('partials/footer'); -%>
