<section id="contact-us">
    <footer class="footer-dark">
        <div class="container">
            <div class="row">


                <div class="col-md-6 item text">
                    <h3>SUPPORT</h3>
                    <p>Any amount of donation is Appreciable. </p>
                    <p>Content owned , updated and maintained by CoviFund. </p>
                </div>

                <div class="col">
                    <div>  </div>
                    <p>Privacy Policy</p>
                    <p>FAQ's</p>
                    <p>Terms & Conditions</p>
                </div>
                <div class="col">
                    <div>  </div>
                    <p>Press Release</p>
                    <p>Technical FAQ's</p>
                    <p>Team CoviFund</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">CoviFund © 2021</p>
        </div>
    </footer>
</section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>
